@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite/src/themes/default";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* PERSONAL STYLING */


/* GENERAL */

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-almarai), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

/* FONTS */
.font-almarai {
  font-family: var(--font-almarai), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

.font-larken {
  font-family: var(--font-larken), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

.font-pecita {
  font-family: var(--font-pecita), system-ui, -apple-system, Segoe UI, Roboto,
  Arial, sans-serif;
}
